[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djoser = "*"
python-dotenv = "*"
djangorestframework = "*"
mysqlclient = "*"
pylint-django = "*"

[dev-packages]

[requires]
python_version = "3.12"
